* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #e9e9e9;
}
.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 75rem;
  justify-content: space-between;
}
.logo h1 {
  font-size: 2rem;
  line-height: 110%;
  color: #f1cdb3;
  font-weight: 400;
  letter-spacing: 0.06em;
  padding: 0.75rem 0 0.3125rem 0.125rem;
}
.logo a {
  text-decoration: none;
}
.logo span {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  letter-spacing: 0.1em;
  color: #fff;
  padding-left: 0.3125rem;
  font-family: Arial, Helvetica, sans-serif;
}
.start-screen {
  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
header {
  width: 100%;
  padding-top: 3.125rem;
}
nav {
  position: relative;
}
.blog-navigation ul {
  display: flex;
  margin-top: 1.5625rem;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
.main-menu li {
  padding-left: 2.1875rem;
}
.main-menu a {
  display: block;
  text-decoration: none;
  color: #cdcdcd;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.main-menu a.disabled {
  pointer-events: none;
}

.main-menu .active {
  border-bottom: 3px solid #f1cdb3;
  font-weight: 500;
  color: #fafafa;
}
/*.main-menu  a:hover{
    border-bottom: 3px solid #F1CDB3;
}*/
.main-menu .logo:hover {
  border-bottom: 1px solid transparent;
}
.main {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}

.not-only {
  padding-top: 3.625rem;
}
.not-only .content {
  display: flex;
  width: 100%;
}
.not-only .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2.5rem;
  padding-bottom: 4.625rem;
}

.not-only .text-content h2 {
  max-width: 19.375rem;
  font-size: 2.75rem;
  line-height: 3.575rem;
  color: #ffffff;
  font-weight: 100;
}
.btn-paint {
  margin-top: 2.625rem;
  padding: 0.9375rem 2.5rem;
  background: #f1cdb3;
  border-radius: 6.25rem;
  width: 12.9375rem;
  height: 3.25rem;
  color: #292929;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: all 0.15s ease-in;
}
.btn-paint:hover {
  box-shadow: 0 2px 6px -2px #eee;
  transform: translateY(-5px);
}
.content p {
  padding-top: 2.1875rem;
  color: #cdcdcd;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 160%;
}
.img-content {
  width: 43.625rem;
  height: 45.5rem;
}
.about {
  height: 36.75rem;
  background: #fff;
}
.about-content {
  display: flex;
  width: 100%;
  padding-top: 5rem;
}
.about-text {
  width: 26.875rem;
  height: 23.75rem;
  margin-left: 7.5rem;
  margin-top: 0.9375rem;
}
.about h2 {
  width: 23.125rem;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: 100;
  padding-bottom: 1.5rem;
}
.about-content p {
  font-size: 0.9375rem;
  line-height: 160%;
  color: #4c4c4c;
  font-family: Arial, Helvetica, sans-serif;
}
.about-content p:nth-child(2) {
  padding-bottom: 1.5625rem;
}
.about-img {
  margin-left: 10.9375rem;
}
.our-friends {
  height: 54.8125rem;
  background: #f6f6f6;
}
.our-friends-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3.8125rem;
  margin-top: 3.75rem;
}
.cards-product {
  display: flex;
}
.item-card {
  width: 16.875rem;
  height: 27.1875rem;
  text-align: center;
  background: #fafafa;
  border-radius: 0.5625rem;
  margin: 0 2.1875rem 0 3.4375rem;
  transition: 0.2s;
}
.cards-product .item-card:nth-child(3) {
  margin-right: 3.1875rem;
}

.item-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04),
    0 10px 10px rgba(0, 0, 0, 0.22);
}
.our-friends h3 {
  width: 25rem;
  font-size: 2.1875rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: 100;
}
.card-title {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 1.6875rem;
}
.btn-border {
  margin: 1.875rem 0 0 0;
  width: 11.6875rem;
  height: 3.25rem;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: transparent;
}
.btn-border:hover {
  background: #f1cdb3;
}
.btn-paint.friends {
  width: 16.3125rem;
  height: 3.25rem;
  margin: 0 0 0.1875rem 0.1875rem;
  padding: 0.9375rem 2.75rem;
}
.btn-paint.cards:hover {
  box-shadow: 0 4px 8px -2px #262a2a;
}
.arrow {
  position: relative;
  margin: 3.125rem auto;
  bottom: 1.625rem;
}
.arrow:before,
.arrow:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-right: 0;
}
.arrow {
  width: 0.75rem;
  height: 0.125rem;
  background: #292929;
}
.arrow:after {
  top: -0.125rem;
  right: -0.1875rem;
  border-left-color: #292929;
}

.arrow.left:before,
.arrow.left:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-left: 0;
}

.arrow.left:after {
  top: -0.125rem;
  left: -0.1875rem;
  border-right-color: #292929;
}

.border-circle {
  width: 3rem;
  height: 3rem;
  line-height: 1.875rem;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #f1cdb3;
  cursor: pointer;
}
.border-circle:hover {
  background: #f1cdb3;
}
.help {
  height: 38.1875rem;
  background: #fff;
}
.help-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4.4375rem;
}
.help h3 {
  width: 19.5rem;
  font-size: 2.1875rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: 100;
  padding: 0.6875rem 0 0 0.25rem;
}
.first-row-tb-mb {
  display: none;
}
.first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.0625rem;
}
.first-row {
  text-align: center;
}

.item-icon {
  margin: 1.625rem 3.5625rem 1.6875rem 3.875rem;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.item-icon img {
  padding-bottom: 1.6875rem;
}
.second-row .item-icon {
  margin: 0 0 0 0.625rem;
}
.addition {
  height: 28.875rem;
  background: #f6f6f6;
}
.addition-content {
  display: flex;
  width: 100%;
  padding-top: 5.0625rem;
}
.addition-img {
  margin-top: 0.75rem;
  margin-left: 9rem;
}
.addition-text {
  margin-left: 1.9375rem;
  margin-top: 0.125rem;
}
.addition-text p {
  width: 19.25rem;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #b2b2b2;
}
.addition-text h3 {
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: 100;
  width: 18.75rem;
  padding-bottom: 1.125rem;
}
.addition-text span {
  font-size: 0.9375rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.card {
  display: flex;
  align-items: center;
  width: 21.8125rem;
  height: 2.6875rem;
  background: #f1cdb3;
  border-radius: 9px;
  margin: 1.25rem 0;
  transition: all 0.15s ease-in;
}
.card:hover {
  box-shadow: 0 4px 8px -2px #262a2a;
  transform: translateY(5px);
}
.card a {
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.card a:hover {
  color: red;
}
.card img {
  margin: 0 0.9375rem;
}
footer {
  height: 21.875rem;
  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}
footer h3 {
  font-family: Georgia;
  font-size: 2.1875rem;
  line-height: 2.8125rem;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: normal;
}
.footer-content {
  width: 100%;
  display: flex;
}
.footer-info {
  display: flex;
}
.contact,
.location {
  height: 5.625rem;
  width: 17.4375rem;
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  margin-top: 3.5625rem;
}

.link-mail,
.link-tel {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

footer a {
  color: #f1cdb3;
  text-decoration: none;
}

.link-mail img,
.link-tel img {
  margin-right: 1.25rem;
}

.loc-one,
.loc-two {
  width: 18.875rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.loc-two img {
  margin-right: 1.25rem;
}

.footer-img {
  margin-top: 2.1875rem;
  padding-left: 1.375rem;
}
.menu-burger span,
.menu-burger span::before,
.menu-burger span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #f1cdb3;
}
.menu-burger > span::before {
  content: '';
  top: -8px;
}
.menu-burger > span::after {
  content: '';
  top: 8px;
}
.menu-burger {
  display: none;
}

.border-circle.left {
  grid-area: a;
  align-self: center;
  justify-self: center;
  margin-left: 28px;
}
.container-cards {
  grid-area: b;
}
.cards-product {
  align-self: center;
  justify-self: center;
}
.border-circle.right {
  grid-area: c;
  align-self: center;
  justify-self: center;
  margin-right: 29px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 455px 70px;
  grid-template-areas: 'b b' 'a c';
  margin-top: 2rem;
  padding-bottom: 2.1875rem;
}
.help {
  height: 745px;
}
.help-content {
  margin-top: 2rem;
}
.help-content h3 {
  font-size: 1.5625rem;
  width: 230px;
}
.first-row {
  display: grid;
  grid-template-columns: 150px 150px;
}
.item-icon {
  margin: 0px 0px 9px 0px;
}
.item-icon .title-icon {
  font-size: 0.9375rem;
}
.item-icon img {
  padding-bottom: 18px;
}
.item-icon img {
  transform: scale(0.85);
}
.addition-content {
  flex-direction: column;
  padding-top: 2.875rem;
  align-items: center;
}
.addition-text h3 {
  font-size: 1.5625rem;
  width: 227px;
  text-align: center;
  margin: 0 auto;
}
.addition-img {
  margin-left: 29px;
  margin-top: -7px;
}
.addition-img img {
  width: 16.25rem;
  padding: 52px 0 0 0;
}
.addition-text {
  order: -1;
  margin-left: 1.125rem;
}
.card {
  width: 281px;
}
.card a {
  font-size: 0.9375rem;
}
.addition-text p {
  width: 280px;
  text-align: justify;
}
.addition-text span {
  font-size: 0.875rem;
  line-height: 160%;
}
.addition {
  height: 545px;
}
footer {
  height: 809px;
}
.footer-content {
  width: 100%;
  flex-direction: column;
  margin-left: 33px;
  align-items: center;
}
footer h3 {
  font-size: 1.5625rem;
  line-height: 1.8125rem;
  text-align: center;
  margin-top: 4px;
}
.footer-info {
  flex-direction: column;
}
.contact,
.location {
  align-items: center;
  margin-right: 0;
  margin-top: 2rem;
}
.location {
  margin-top: 157px;
}
.link-mail,
.link-tel {
  margin-right: 1.25rem;
}
.loc-one,
.loc-two {
  margin-left: 0;
  margin-right: 12px;
  margin-top: 40px;
}
.footer-img {
  margin: 0 auto;
  padding-top: 168px;
  padding-left: 0;
  padding-right: 40px;
}
.footer-img img {
  width: 16.25rem;
}

.active {
  border-bottom: 3px solid #f1cdb3;
  font-weight: 500;
  color: #fafafa;
}
@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.hidden {
  display: none;
  z-index: 5;
}

.rotate {
  transform: rotate(90deg);
}

.topnav {
  display: none;
}

.topnav-active {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  cursor: pointer;
}

.topnav .blog-navigation {
  display: none;
}

.main-menu_active {
  flex-direction: column;
  left: 0px;
  align-items: center;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar {
  position: absolute;
  background-color: #292929;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
  animation-duration: 1s;
  animation-name: slidein;
}

.toggle-menu {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 13px 2px 2px 3px;
  border-radius: 5px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #f1cdb3;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
  background-color: white;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  text-align: center;
  padding: 10px 0;
}

.nav-link {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

.nav-link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {
  .wrapper {
    margin: auto;
    max-width: 768px;
    justify-content: space-around;
  }
  header {
    width: 100%;
    padding-top: 1.1875rem;
  }

  .not-only .content {
    flex-direction: column;
    align-items: center;
  }
  .not-only .content .text-content p {
    width: 28.75rem;
    padding-top: 2.75rem;
  }
  .not-only .content .text-content .btn-paint {
    margin-left: 8rem;
  }
  .img-content {
    padding-top: 29px;
    padding-left: 73px;
    text-align: center;
  }
  .img-content img {
    width: 81%;
  }
  .start-screen {
    height: 1165px;
  }
  .about-content {
    flex-direction: column;
    height: 1045px;
  }
  .about-img {
    order: 2;
    margin-left: 12.6875rem;
  }
  .about-text {
    margin-top: -0.125rem;
    margin-left: 8.6875rem;
    margin-bottom: 5rem;
  }
  .about {
    height: 1048px;
  }
  .our-friends {
    height: 874px;
  }
  .cards-product .item-card:nth-child(3) {
    display: none;
  }
  .item-card {
    margin: 0 12px 0 18px;
  }
  .help {
    height: 779px;
  }
  .item-icon {
    margin: 27px 0px 25px 3px;
  }
  .item-icon:nth-child(1),
  .item-icon:nth-child(4),
  .item-icon:nth-child(7) {
    margin-left: 49px;
  }
  .item-icon:nth-child(3),
  .item-icon:nth-child(6),
  .item-icon:nth-child(9) {
    margin-right: 53px;
  }
  .first-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .addition {
    height: 783px;
  }
  .addition-content {
    flex-direction: column;
    padding-top: 1.5rem;
  }
  .addition-text {
    order: -1;
    margin-top: 60px;
    margin-left: 194px;
  }
  .addition-img {
    margin-top: 2.5625rem;
    margin-left: 8.25rem;
  }
  footer {
    height: 639px;
  }
  .footer-content {
    width: 100%;
    flex-direction: column;
    margin-left: 33px;
  }
  .contact,
  .location {
    align-items: center;
    margin-right: 3.75rem;
    margin-top: 2rem;
  }
  .link-mail,
  .link-tel {
    margin-right: 32px;
  }
  .loc-one,
  .loc-two {
    margin-left: 20px;
  }
  .footer-img {
    margin: 0 auto;
    padding-top: 205px;
    padding-left: 0;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .menu-burger {
    display: block;
    margin-top: 33px;
    margin-right: 69px;
    visibility: visible;
    z-index: 5;
    padding-left: 32px;
  }
  .menu-burger span {
    transition: all 0.5s ease-out;
  }
  .blog-navigation {
    display: none;
  }
  header {
    padding-top: 27px;
  }
  .wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  .logo h1 {
    padding: 5px 0 5px 9px;
  }
  .not-only .content {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .not-only .content h2 {
    font-size: 1.5625rem;
    margin: 0 auto;
    padding: 1px 0 14px 0;
    max-width: 70%;
    line-height: 2rem;
  }
  .not-only .text-content {
    margin: 0;
    padding-bottom: 63px;
  }
  .content p {
    padding-top: 28px;
    max-width: 90%;
    margin: 0 auto;
  }
  .btn-paint {
    margin: 42px auto;
  }
  .img-content img {
    width: 87%;
    margin-left: 38px;
  }
  .img-content {
    width: 100%;
    height: 100%;
  }
  .start-screen {
    height: 823px;
  }
  .about {
    height: 974px;
  }
  .about-content {
    flex-direction: column;
    width: 300px;
    padding-top: 27px;
  }
  .about-text {
    width: 270px;
    order: -1;
    height: 100%;
    margin-left: 1rem;
    margin-bottom: 38px;
  }
  .about-text h2 {
    font-size: 1.5625rem;
    text-align: center;
    width: 17.125rem;
  }
  .about-text p {
    text-align: justify;
  }
  .about-img {
    margin-left: 20px;
  }
  .about-img img {
    width: 93%;
  }
  .our-friends {
    height: 791px;
  }
  .our-friends h3 {
    font-size: 1.5625rem;
    width: 19rem;
  }
  .our-friends-content {
    margin-top: 2.625rem;
  }
  .cards-product .item-card:not(:nth-child(1)) {
    display: none;
  }
  .container-cards .item-card {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}
